# OpenAI API key is required to access the OpenAI services. Please set your OpenAI API key in the OPENAI_API_KEY variable below.
OPENAI_API_KEY=sk-

# Zendesk Base URL is required to connect to your Zendesk account. Please set your Zendesk Base URL in the ZENDESK_BASE_URL variable below.
ZENDESK_BASE_URL=https://support.optisigns.com

# Vector Store ID is required to identify the specific vector store used for storing and retrieving embeddings
VECTOR_STORE_ID=vs_

# Vector Store Name is required to identify the name of the vector store used for storing and retrieving embeddings
VECTOR_STORE_NAME=OptiSigns KB

# Data Directory is required to specify the directory where data files are stored
DATA_DIR=data

# Minimum Article Count is required to specify the minimum number of articles to be processed
MIN_ARTICLE_COUNT=30
